{{extend 'template.html'}}
{{block content}}
<style>
    body {
        font-family: Arial;
    }

    .coupon {
        border: 5px dotted #bbb;
        width: 80%;
        border-radius: 15px;
        margin: 0 auto;
        max-width: 600px;
    }

    .container {
        padding: 2px 16px;
        background-color: #f1f1f1;
    }

    .promo {
        background: #ccc;
        padding: 3px;
    }

    .expire {
        color: red;
    }
</style>
<div class="coupon">
    <div class="container">
        <h3>Bumin yazılım</h3>
    </div>

    <div class="container" style="background-color:white">
        <h1>Dear Sir or Madam,</h1>
        <p>According to documents that you sent;</p>
        <ul>
            <li>Develop a web application, implement at least 4 endpoints from given document <b>[DONE]</b></li>
            <li>Prepare unit tests (junit, etc.) (required) <b>Couldn't achieve this step <!--:)--></b></li>
            <li>Use git for version control (required) <b>[DONE]</b></li>
            <li>Use bitbucket, github or gitlab for hosting your project (required)<b>[DONE]</b></li>
            <li>Use new features of Java 8 (streams, optional, futures, etc.) (required) <b>[Python2.7 used]</b></li>
            <li>Use Spring framework (spring boot preferred) (required) <b>[Web2py framework used]</b></li>
            <li>Deploy application to heroku (optional) <b>[DONE]</b></li>
        </ul>

        <div class="container">
            <p>Get Token to see pages:
                <a href="/bumin/default/get_token" class="btn btn-info btn-lg">Token</a>
            </p>

        </div>
    {{if request.args:}}
        <div class="alert alert-success">
            <strong>Success! Token created...</strong>Click to see <a href="/bumin/default/pages" class="alert-link">pages</a>
            <p class="expire">Expires in ten minutes.</p>
        </div>

    {{pass}}
    </div>
</div>
{{end}}