{{extend 'template.html'}}
{{block content}}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <form class="form-horizontal" action='/bumin/default/page/{{=request.args[0]}}' method="POST">
                <fieldset>
                    <div id="legend">
                        <legend class="">Send your data to {{=request.args[0]}}</legend>
                    </div>
                {{for p in payload:}}
                    <div class="form-group">

                        <label c for={{=p}}>{{=p}}</label>
                        <div class="controls">
                            <input type="text" id={{=p}} name={{=str(p)}} placeholder="{{=p}}"
                                   class="form-control input-xlarge ">
                        </div>
                    </div>
                {{pass}}
                    <div class="form-group">

                        <div class="controls">
                            <button class="btn btn-success">Send</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
        <div>
            {{if request.vars:}}
                <h2>API response to your request data:</h2>
                {{=responsed}}
                {{pass}}
        </div>
    </div>

</div>

{{end}}