{{extend 'template.html'}}
{{block content}}
<div class="container" >
    <div class="row">
        <div>
            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;

                }

                th, td {
                    padding: 5px;
                    text-align: left;
                }
            </style>
            </head>
            <body>
            <h2>Endpoints:</h2>
            <table style="width:30%" >
                <tr>
                    <th>Links</th>
                </tr>
                    {{for l in links:}}
                <tr>

                    <td><a href="/bumin/default/page/{{=l}}" class="btn btn-info" role="button">{{=l.upper()}}</a></td>

                </tr>
                {{pass}}

            </table>

        </div>
    </div>
</div>
{{end}}